body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to left bottom, purple, rgb(217, 166, 213)) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;

}
.container{
    background: rgb(216, 79, 221);
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(rgb(91, 6, 116),);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.heading{
    font-size: 32px;

}
.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input{
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    padding: 5px;
    outline: none;
    background: rgb(122, 0, 91);
    border-color: bisque;
    color: purple;
    font-size: 18px;

}
input::placeholder{
    color: lavender;
}